In [2]:
healthy = {"vegetables", "fruit"," fish", "eggs"}
drinks = {"caffee", "tea", "milk", "water"}

In [3]:
"ciastka" in healthy

False

In [4]:
"water" in drinks

True

In [5]:
healthy | drinks

{' fish', 'caffee', 'eggs', 'fruit', 'milk', 'tea', 'vegetables', 'water'}

In [6]:
healthy and drinks

{'caffee', 'milk', 'tea', 'water'}

In [7]:
dict = {
    "milk" : 5,
    "bread" : 5,
    "eggs" : 12,
    "cheese" : 11,
    "water" : 3
}

In [8]:
for k in dict.keys():
  print(k, dict[k])

milk 5
bread 5
eggs 12
cheese 11
water 3

In [9]:
names = ['Igor Nowak', 'Olga Zielińska', 'Klara Kowalczyk', 'Adam Kowalski']

In [10]:
napis = 'stan b'.split(' ')

print(napis)

print(napis[0])

print(napis[1])

['stan', 'b']
stan
b

In [11]:
def get_sub_name(name, part):
  split_name = name.split()
  if part == 0:
      return split_name[0]
  elif part == 1:
      return split_name[1]
  else:
      return None
first_names = [get_sub_name(name, 0) for name in names]
last_names = [get_sub_name(name, 1) for name in names]

In [12]:
print("Names:", first_names)
print("Surnames:", last_names)

Names: ['Igor', 'Olga', 'Klara', 'Adam']
Surnames: ['Nowak', 'Zielińska', 'Kowalczyk', 'Kowalski']